{
    "presets": ["es2015", "stage-2", ["env", {
        "target": {
            "browsers": ["last 2 version", "safari >= 7"]
        }
    }]],
    "plugins": [
        "transform-decorators-legacy",
        "transform-vue-jsx",
        "transform-runtime",
        "transform-class-properties"
    ],
    "ignore": [
        "node_modules/",
        "dist/"
    ],
    env: {
        "development": {
            "plugins": []
        },
        "production": {
            "plugins": [
                "transform-inline-consecutive-adds",
                "transform-merge-sibling-variables",
                "transform-property-literals",
                "transform-remove-debugger",
                "transform-remove-console",
                "transform-node-env-inline",
                "transform-member-expression-literals",
                "transform-minify-booleans",
                "transform-node-env-inline",
                "minify-constant-folding",
                "minify-dead-code-elimination",
                "minify-guarded-expressions",
                "minify-simplify",
                "minify-type-constructors"
            ]
        }
    }
}
